/*
 *	SL Main.scss
 */
/* Variables */
/*
 * SL Variables
 */
/* Mixins */
/*
 * SL Mixins
 */
/* Rounded Corners */
/* Transition */
/***************************************	
	SL Compontents
***************************************/
/* Buttons Component */
/*
 * SL Button Component
 */
.sl-btn {
  background-color: #eb4e41;
  border-color: #e83021;
  color: #fff;
  padding: 8px 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.sl-btn:hover {
  background-color: #e83021;
  color: #fff;
}

.sl-btn:focus, .sl-btn:active {
  color: #fff;
}

/* Size Variant */
.sl-btn-large {
  min-width: 170px;
  font-size: 16px;
  padding: 11px 25px;
}

.sl-btn-small {
  font-size: 13px;
  padding: 6px 15px;
}

/* Shape Variant */
.sl-btn-rounded {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}

/* Ghost Button */
.sl-btn-ghost {
  /*@extend .sl-btn;*/
  background-color: transparent;
  border-width: 2px;
  color: #e83021;
}

.sl-btn-ghost:focus, .sl-btn-ghost:active {
  color: #e83021;
}

.sl-btn-ghost:focus:hover, .sl-btn-ghost:active:hover {
  color: #fff;
}

/* SL Demo Styles */
/*
 * SL Demo Styles
 */
a,
a:hover,
button,
button:hover,
.btn,
.btn:hover {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

a:focus,
button:focus,
.btn:focus {
  outline: none;
}

.sl-demo-wrapper {
  display: flex;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 100px 0 0;
  justify-content: center;
  align-items: center;
}

.sl-demo-wrapper > .sl-btn {
  margin: 0 10px;
}

.sl-demo-wrapper + .sl-demo-wrapper {
  border-top: 1px #ddd solid;
  margin-top: 70px;
  padding-top: 70px;
}

body {
  background-color: #fff;
  font-size: 14px;
  padding-bottom: 100px;
}

/* 
 *  Function Directives
 */
.some-section {
  width: 800px;
}
