/*
 * SL Button Component
 */
.sl-btn {
	background-color:$base-color;
	border-color:$base-color-dark;
	color:#fff;
	padding:8px 20px;
	@include roundedCorners();
	@include defaultTransition();

	&:hover {
		background-color:$base-color-dark;
		color:#fff;
	}

	&:focus,
	&:active {
		color:#fff;
	}
}

/* Size Variant */
.sl-btn-large {
	min-width:170px;
	font-size:16px;
	padding:11px 25px;
}

.sl-btn-small {
	font-size:13px;
	padding:6px 15px;
}

/* Shape Variant */
.sl-btn-rounded {
	@include roundedCorners(100px);
}

/* Ghost Button */
.sl-btn-ghost {
	background-color:transparent;
	border-width:2px;
	color:$base-color-dark;

	&:focus,
	&:active {
		color:$base-color-dark;
	}

	&:focus:hover,
	&:active:hover {
		color:#fff;
	}
}