/*
 * SL Mixins
 */

/* Rounded Corners */
@mixin roundedCorners($radius:3px) {
	-webkit-border-radius:$radius;
	   -moz-border-radius:$radius;
			border-radius:$radius;
}


/* Transition */
@mixin defaultTransition($transition-duration:.3s) {
	-webkit-transition:all $transition-duration ease-out;
	   -moz-transition:all $transition-duration ease-out;
			transition:all $transition-duration ease-out;
}