/*
 *	SL Main.scss
 */

/* Variables */
@import "variables.scss";

/* Mixins */
@import "mixins.scss";

/* 
 *	SL Compontents
 */
/* Buttons Component */
@import "buttons.scss";



body {
  background-color:$base-color;
}


/* 
 *  Function Directives
 */
$box-width: 200px;

@function row-width($noOfBox) {
  @return $box-width * $noOfBox;
}

.some-section {
  width: row-width(4);
}