$base-color: #333;


body {
  background-color:$base-color;
}





/* 
 *  Function Directives
 */
$box-width: 200px;

@function row-width($noOfBox) {
  @return $box-width * $noOfBox;
}

.some-section {
  width: row-width(4);
}