/*
 *	SL Main.scss
 */

/* Variables */
@import "variables.scss";

/* Mixins */
@import "mixins.scss";


/***************************************	
	SL Compontents
***************************************/
/* Buttons Component */
@import "buttons.scss";


/* SL Demo Styles */
@import "sl-demo.scss";

body {
  background-color:#fff;
  font-size:14px;
  padding-bottom:100px;
}





/* 
 *  Function Directives
 */
$box-width: 200px;

@function row-width($noOfBox) {
  @return $box-width * $noOfBox;
}

.some-section {
  width: row-width(4);
}